body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #5e62ba;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 150px); 
    grid-gap: 20px; 
    justify-content: center; 
    align-items: center; 
    height: 50vh; 
    margin: auto;
}

.btn {
    width: 150px; 
    height: 150px; 
    cursor: pointer;
    border: 5px solid #000;
    border-radius: 10px;
    transition: opacity 0.2s;
}

.btn:active {
    opacity: 0.5;
}

#red { background-color: red; }
#blue { background-color: blue; }
#yellow { background-color: yellow; }
#green { background-color: green; }

h1 {
    color: #ff4081;
}
