body {
	background-color: #d6e0f0;
	font-family: cursive;
}
img {
	height: 400px;
	width: 250px;
}
hr {
	background-color: #358273;
	height: 10px;
}
.star {
	text-align: center;
	margin: auto;
	font-size: 25px;
}
h2 {
	text-shadow: #FF0 1px 0 10px;
}
.block1 {
	margin-bottom: -25px;
	font-size: 35px;
	text-align: center;
	background-color: cyan;
	height: 200px;
	width: 200px;

}
.block2 {
	font-size: 35px;
	text-align: center;
	background-color: pink;
	height: 193px;
	width: 193px;
}
.block3 {
	font-size: 35px;
	text-align: center;
	background-color: lightgray;
	height: 193px;
	width: 193px;
}

.block4 {
	margin-bottom: -25px;
	font-size: 35px;
	text-align: center;
	background-color: cyan;
	height: 200px;
	width: 200px;
	border: 10px solid black;

}
.block5 {
	font-size: 35px;
	text-align: center;
	background-color: pink;
	height: 193px;
	width: 193px;
	position: relative;
	left: 217px;
	border: 15px solid black;
}
.block6 {
	font-size: 35px;
	text-align: center;
	background-color: lightgray;
	height: 193px;
	width: 193px;
	position: relative;
	left: 443px;
	border: 15px solid black;
}

.block7 {
	margin-bottom: -25px;
	font-size: 35px;
	text-align: center;
	background-color: cyan;
	height: 200px;
	width: 200px;
	position: relative;
	left: 200px;
	top: -233px;
}
.block8 {
	font-size: 35px;
	text-align: center;
	background-color: pink;
	height: 193px;
	width: 193px;
}
.block9 {
	font-size: 35px;
	text-align: center;
	background-color: lightgray;
	height: 193px;
	width: 193px;
	position: relative;
	left: 400px;
	top: -430px;
}